// Default variables.
//@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

/*
#header-wrapper{
  background: #ffffff;
  padding-top: 50px;
}

#nav-wrapper{
background-color: #097296;
}
.region{
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
  float: left;
  li{
    float: right;
  }
  a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
  }
}
.logo_usaid{
  align-items: left;
  padding-right: .5rem;
  text-align: left;
}
.logo_pepfar{
  align-items: center;
  text-align: center;
}
.logo_aidsfree{
  align-items: right;
  padding-left: .5rem;
  text-align: right;
}*/