<div id="page-wrapper">
    <div id="page" class="page">
        <div id="top">
            {% include directory ~ '/src/components/header/header.twig' %}
        </div>
        <div id="main">
            {% include directory ~ '/src/components/main/main.twig' %}
        </div>
        <div id="bottom">
            <div class="container">
                {% include directory ~ '/src/components/bottom/bottom.twig' %}
            </div>
        </div>
    </div>
</div>