{{ attach_library('aidsfree/main') }}
<div class="our_hero">
    {{ page.content.views_block__hero_block_1 }}
</div>
<div class="item_ourmission">
    <div class="container">
        {{ page.content.ourmission }}
    </div>
</div>
<div class="focus_areas">
    <div class="container">
        {{ page.content.focusareas }}
    </div>
</div>